<html>
    <head>
        <title>Fulbito</title>
    </head>
    <body>
        <H1>Bienvenido al Fulbito</H1>
        <form method="POST">
            {% csrf_token %}
            Ingrese los datos del personaje:<br><br>
            Nombre: <input type="text" name="nombre"><br>
            Numero: <input type="number" name="numero"><br>
            <input type="submit" value="Enviar">
        </form>
        <p>{{error}}</p>
        <ul>
            {% for item in lista %}
            <li>{{ item.nombre }}&nbsp;{{ item.numero }}</li>
            {% endfor %}
        </ul>




        
    </body>
</html>